node_modules
npm-debug.log
package-lock.json
yarn-error.log
.vscode
stats.json
tsconfig.json
jsconfig.json
settings.json

/.buildroot
/.e2e
/.env
/.eslintcache
/.nyc_output
/coverage
/dist
/output
/error_shots
.DS_Store
.editorConfig
.idea
*.swp

/src/i18n/*
!/src/i18n/ja
!/src/i18n/en
