{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "printWidth": 100,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^src/",
    "^(\\.\\./){4}",
    "^(\\.\\./){3}",
    "^(\\.\\./){2}",
    "^(\\.\\./){1}",
    "^\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
